<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="wrapper">
      <script id="template" type="text/html"> 
        <%= content%>
      </script>
    </div>
  </body>
</html>