body {
  padding: 50px;
  font: 12px/1.5 "lantinghei sc","Hiragino Sans GB", "Microsoft Yahei", arial,\5b8b\4f53;
}

a {
  color: #00B7FF;
}
.wrapper{
	width: 400px;
	margin:30px auto;
	padding:0;
}
.wrapper li{
	line-height: 40px;
	list-style: none;
	padding:0;
	margin:0;
}

input[type=url]{
	width: 400px;
}